<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

    <div style="text-align: center">
        <h2 style="margin: 30px; color: red">PRODUCT MANAGER</h2>
        <div th:if="${message}">
            <span style="color: green" th:text="${message}"></span>
        </div>
    </div>

    <div class="row justify-content-between mx-3">
        <form th:action="@{/product}">
            <div class="input-group mb-3">
                <input name="name" type="text" class="form-control" placeholder="Input name to search">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="button-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
        <a th:href="@{/product/create}">
            <button class="btn btn-primary">
                Add
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
                     viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
        </a>
    </div>

    <table class="table" style="text-align: center;">
        <thead>
        <tr>
            <th class="col-1">No</th>
            <th class="col-1">Name</th>
            <th class="col-2">Price</th>
            <th class="col-2">Description</th>
            <th class="col-2">Brand</th>
            <th class="col-2">Edit</th>
            <th class="col-2">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product,loop : ${products}">
            <td th:text="${loop.index}"></td>
            <td><a th:href="@{/{id}/view(id=${product.getId()})}"><p th:text="${product.getName()}"></p></a></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td th:text="${product.getBrand()}"></td>
            <th class="col-1"><a th:href="@{/product/update(id=${product.getId()})}"><button class="btn btn-info">Edit</button></a></td>
<!--            <th class="col-1"><a th:href="@{/product/delete(id=${product.getId()})}"><button class="btn btn-danger">Delete</button></a></td>-->
            <td>
                <button
                        th:attr="onclick=|deleteModal('${product.id}', '${product.name}')|"
                        type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#exampleModalCenter">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-12">
            <a th:if="${products.hasPrevious()}"
               th:href="@{/product(page=${products.number - 1}, name=${nameVal})}">
                Previous
            </a>
            <span th:text="${products.number + 1}"></span>
            /
            <span th:text="${products.totalPages}"></span>
            <a th:if="${products.hasNext()}"
               th:href="@{/product(page=${products.number + 1}, name=${nameVal})}">
                Next
            </a>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Delete product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you delete?
                        <span>Name product: <p id="name"></p></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <form method="get" th:action="@{/delete}">
                            <input type="hidden" name="id" id="id-del">
                            <button type="submit" class="btn btn-primary">Xác nhận xoá</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <script>
            function deleteModal(id, name) {
                document.getElementById("id-del").value = id;
                document.getElementById("name").innerText = name;
            }
        </script>

    <footer th:replace="/layout :: footer"></footer>
</body>
</html>